html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body{font-size:0;}
div{font-size:0;}
p{margin:0;word-spacing:normal;}
h1{margin:0;word-spacing:normal;}
h2{margin:0;word-spacing:normal;}
h3{margin:0;word-spacing:normal;}
h4{margin:0;word-spacing:normal;}
h5{margin:0;word-spacing:normal;}
h6{margin:0;word-spacing:normal;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
form{display:inline-block;}
input{box-sizing:border-box;padding:0px;}
textarea{box-sizing:border-box;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
@font-face{font-family:"FontAwesome";src:url('fontawesome-webfont.eot');src:url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('fontawesome-webfont.woff') format('woff'), url('fontawesome-webfont.ttf') format('truetype'), url('fontawesome-webfont.svg#FontAwesome') format('svg');font-weight:400;}
#body{background-color:rgba(255,255,255,0.75);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:1200px;min-height:800px;height:800px;}
.cont{z-index:1;border:0;background:transparent url(../images/untitled-1200.jpg) no-repeat 50% 50%;background-size:cover;background-clip:padding-box;}
.pos-2{position:relative;margin-top:-800px;}
.cont-2{z-index:2;border:0;background-color:rgba(0,0,0,0.5);}
.size-2{width:100%;min-width:1200px;min-height:927px;}
.cont-3{z-index:5;}
.section{min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;display:block;}
.pos-3{position:relative;margin-left:310px;margin-top:0;}
.size-3{min-width:580px;width:580px;min-height:80px;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;}
.font{font-family:Oswald;font-size:36.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:53.35pt;letter-spacing:normal;}
.pos-4{position:relative;margin-left:310px;margin-top:21px;}
.font-2{font-family:Oswald;font-size:36.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(191,191,191);line-height:53.35pt;letter-spacing:normal;}
.pos-5{position:relative;margin-top:363px;}
.size-4{width:100%;min-width:1200px;min-height:143px;}
.cont-5{z-index:6;border:0;background-color:rgb(221,36,36);}
.pos-6{position:relative;margin-top:11px;}
.pos-7{position:relative;margin-left:0;margin-top:0;}
.size-5{min-width:1200px;width:1200px;min-height:132px;}
.colwrapper{line-height:0;}
.size-6{min-width:1190px;width:1190px;min-height:123px;}
.size-7{min-width:472px;width:472px;min-height:123px;}
.cont-6{z-index:8;}
.font-3{font-family:FontAwesome;font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:45.00pt;letter-spacing:normal;}
.font-4{font-family:"Fjalla One";font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:56.56pt;letter-spacing:normal;}
.pos-8{position:relative;margin-left:438px;margin-top:9px;}
.size-8{min-width:280px;width:280px;min-height:60px;}
.cont-7{z-index:9;}
.size-9{min-width:60px;width:60px;min-height:60px;height:60px;}
.cont-8{z-index:10;}
.anchor{display:block;width:60px;}
.img{position:absolute;left:0;width:60px;height:60px;top:0;}
.pos-9{position:relative;margin-left:50px;margin-top:0;}
.cont-9{z-index:11;}
.cont-10{z-index:12;}
.pos-10{position:relative;margin-left:0;margin-top:-41px;}
.size-10{min-width:1200px;width:1200px;min-height:50px;}
.cont-11{z-index:7;}
.para-2{padding-top:0;text-indent:0;margin-top:3.60pt;margin-bottom:-3.60pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-5{font-family:FontAwesome;font-size:18.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(255,255,255,0.75);line-height:25.20pt;letter-spacing:normal;}
.pos-11{position:relative;margin-top:-480px;}
.size-11{min-width:1200px;width:1200px;min-height:166px;}
.cont-12{z-index:4;}
.para-3{padding-top:0;text-indent:0;margin-top:-14.16pt;margin-bottom:14.16pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-6{font-family:"Abril Fatface";font-size:105.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(221,36,36);line-height:113.32pt;letter-spacing:normal;}
.pos-12{position:relative;margin-left:0;margin-top:-66px;}
.size-12{min-width:1200px;width:1200px;min-height:334px;}
.cont-13{z-index:3;}
.para-4{padding-top:0;text-indent:0;margin-top:-28.33pt;margin-bottom:28.33pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-7{font-family:"Abril Fatface";font-size:210.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(221,36,36);line-height:226.63pt;letter-spacing:normal;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-2400.jpg);background-size:cover;}
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
.cont{background-image:url(../images/untitled-3600.jpg);background-size:cover;}
}
@media (min-width:1600px) {
.cont{background-image:url(../images/untitled-1600.jpg);background-size:cover;}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-3200.jpg);background-size:cover;}
}
