html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body{font-size:0;}
div{font-size:0;}
p{margin:0;word-spacing:normal;}
h1{margin:0;word-spacing:normal;}
h2{margin:0;word-spacing:normal;}
h3{margin:0;word-spacing:normal;}
h4{margin:0;word-spacing:normal;}
h5{margin:0;word-spacing:normal;}
h6{margin:0;word-spacing:normal;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
form{display:inline-block;}
input{box-sizing:border-box;padding:0px;}
textarea{box-sizing:border-box;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
@font-face{font-family:"FontAwesome";src:url('fontawesome-webfont.eot');src:url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('fontawesome-webfont.woff') format('woff'), url('fontawesome-webfont.ttf') format('truetype'), url('fontawesome-webfont.svg#FontAwesome') format('svg');font-weight:400;}
#body{background-color:rgb(221,36,36);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:1200px;min-height:560px;height:560px;}
.cont{z-index:1;border:0;background:transparent url(../images/untitled-320-1.jpg) no-repeat 50% 50%;background-size:cover;background-clip:padding-box;}
.pos-2{position:relative;margin-top:-560px;}
.size-2{width:100%;min-width:1200px;min-height:560px;}
.cont-2{z-index:2;border:0;background-color:rgba(0,0,0,0.5);}
.pos-3{position:relative;margin-top:0;}
.section{min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;display:block;}
.pos-4{position:relative;margin-left:320px;margin-top:0;}
.size-3{min-width:580px;width:580px;min-height:80px;}
.cont-3{z-index:3;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;}
.font{font-family:Oswald;font-size:36.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(191,191,191);line-height:53.35pt;letter-spacing:normal;}
.pos-5{position:relative;margin-top:-467px;}
.pos-6{position:relative;margin-left:127px;margin-top:0;}
.size-4{min-width:1050px;width:1050px;min-height:141px;}
.cont-5{z-index:7;}
.pos-7{position:relative;margin-left:443px;margin-top:0;}
.size-5{min-width:400px;width:400px;min-height:80px;}
.cont-6{z-index:16;}
.font-2{font-family:Oswald;font-size:36.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:53.35pt;letter-spacing:normal;}
.pos-8{position:relative;margin-left:143px;margin-top:-59px;}
.size-6{min-width:227px;width:227px;min-height:80px;}
.cont-7{z-index:15;}
.pos-9{position:relative;margin-left:0;margin-top:-61px;}
.size-7{min-width:1050px;width:1050px;min-height:101px;}
.pos-10{position:relative;margin-left:0;margin-top:8px;}
.size-8{min-width:210px;width:210px;min-height:80px;}
.cont-8{z-index:13;}
.pos-11{position:relative;margin-left:33px;margin-top:21px;}
.size-9{min-width:400px;width:400px;min-height:80px;}
.cont-9{z-index:14;}
.pos-12{position:relative;margin-left:17px;margin-top:0;}
.size-10{min-width:390px;width:390px;min-height:80px;}
.cont-10{z-index:17;}
.pos-13{position:relative;margin-left:0;margin-top:-8px;}
.size-11{min-width:1200px;width:1200px;min-height:419px;}
.pos-14{position:relative;margin-left:0;margin-top:0;}
.colwrapper{line-height:0;}
.size-12{min-width:1200px;width:1200px;min-height:413px;}
.cont-11{z-index:4;}
.size-13{min-width:1200px;width:1200px;min-height:158px;}
.cont-12{z-index:6;}
.para-2{padding-top:0;text-indent:0;margin-top:-14.16pt;margin-bottom:14.16pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-3{font-family:"Abril Fatface";font-size:105.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(221,36,36);line-height:113.32pt;letter-spacing:normal;}
.pos-15{position:relative;margin-left:0;margin-top:-63px;}
.size-14{min-width:1200px;width:1200px;min-height:318px;}
.cont-13{z-index:5;}
.para-3{padding-top:0;text-indent:0;margin-top:-28.33pt;margin-bottom:28.33pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-4{font-family:"Abril Fatface";font-size:210.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(221,36,36);line-height:226.63pt;letter-spacing:normal;}
.pos-16{position:relative;margin-left:910px;margin-top:-54px;}
.size-15{min-width:280px;width:280px;min-height:60px;}
.cont-14{z-index:12;}
.size-16{min-width:60px;width:60px;min-height:60px;height:60px;}
.cont-15{z-index:9;}
.anchor{display:block;width:60px;}
.img{position:absolute;left:0;width:60px;height:60px;top:0;}
.pos-17{position:relative;margin-left:50px;margin-top:0;}
.size-17{min-width:60px;width:60px;min-height:60px;height:60px;}
.cont-16{z-index:10;}
.anchor-2{display:block;width:60px;}
.img-2{position:absolute;left:0;width:60px;height:60px;top:0;}
.pos-18{position:relative;margin-left:50px;margin-top:0;}
.cont-17{z-index:11;}
.pos-19{position:relative;margin-left:0;margin-top:-80px;}
.size-18{min-width:472px;width:472px;min-height:102px;}
.cont-18{z-index:18;}
.font-5{font-family:FontAwesome;font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:45.00pt;letter-spacing:normal;}
.font-6{font-family:"Fjalla One";font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:56.56pt;letter-spacing:normal;}
.font-7{font-family:Oswald;font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:66.69pt;letter-spacing:normal;}
.pos-20{position:relative;margin-left:0;margin-top:-31px;}
.size-19{min-width:1200px;width:1200px;min-height:50px;}
.cont-19{z-index:8;}
.para-4{padding-top:0;text-indent:0;margin-top:5.33pt;margin-bottom:-5.33pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-8{font-family:Oswald;font-size:18.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(255,255,255,0.75);line-height:37.34pt;letter-spacing:normal;}
@media (min-width:960px) and (max-width:1199px) {
.size{min-width:960px;min-height:448px;height:448px;}
.pos-2{margin-top:-448px;}
.size-2{min-width:960px;min-height:448px;}
.section{min-width:960px;width:960px;}
.pos-4{margin-left:256px;}
.size-3{min-width:464px;width:464px;min-height:64px;}
.font{font-size:28.50pt;line-height:42.24pt;}
.pos-5{margin-top:-373px;}
.pos-6{margin-left:101px;}
.size-4{min-width:840px;width:840px;min-height:112px;}
.pos-7{margin-left:354px;}
.size-5{min-width:320px;width:320px;min-height:64px;}
.font-2{font-size:28.50pt;line-height:42.24pt;}
.pos-8{margin-left:114px;margin-top:-47px;}
.size-6{min-width:181px;width:181px;min-height:64px;}
.pos-9{margin-top:-48px;}
.size-7{min-width:840px;width:840px;min-height:80px;}
.pos-10{margin-top:6px;}
.size-8{min-width:168px;width:168px;min-height:64px;}
.pos-11{margin-left:26px;margin-top:16px;}
.size-9{min-width:320px;width:320px;min-height:64px;}
.pos-12{margin-left:13px;}
.size-10{min-width:312px;width:312px;min-height:64px;}
.pos-13{margin-top:-6px;}
.size-11{min-width:960px;width:960px;min-height:335px;}
.size-12{min-width:960px;width:960px;min-height:330px;}
.size-13{min-width:960px;width:960px;min-height:126px;}
.para-2{margin-top:-11.33pt;margin-bottom:11.33pt;}
.font-3{font-size:84.00pt;line-height:90.65pt;}
.pos-15{margin-top:-50px;}
.size-14{min-width:960px;width:960px;min-height:254px;}
.para-3{margin-top:-22.66pt;margin-bottom:22.66pt;}
.font-4{font-size:168.00pt;line-height:181.31pt;}
.pos-16{margin-left:728px;margin-top:-43px;}
.size-15{min-width:224px;width:224px;min-height:48px;}
.size-16{min-width:48px;width:48px;min-height:48px;height:48px;}
.anchor{width:48px;}
.img{width:48px;height:48px;}
.pos-17{margin-left:40px;}
.size-17{min-width:48px;width:48px;min-height:48px;height:48px;}
.anchor-2{width:48px;}
.img-2{width:48px;height:48px;}
.pos-18{margin-left:40px;}
.pos-19{margin-top:-64px;}
.size-18{min-width:377px;width:377px;min-height:81px;}
.font-5{font-size:36.00pt;line-height:36.00pt;}
.font-6{font-size:36.00pt;line-height:45.25pt;}
.font-7{font-size:36.00pt;line-height:53.35pt;}
.pos-20{margin-top:-24px;}
.size-19{min-width:960px;width:960px;min-height:40px;}
.para-4{margin-top:4.22pt;margin-bottom:-4.22pt;}
.font-8{font-size:14.25pt;line-height:29.56pt;}
}
@media (min-width:768px) and (max-width:959px) {
.size{min-width:768px;min-height:668px;height:668px;}
.pos-2{margin-top:-668px;}
.size-2{min-width:768px;min-height:668px;}
.pos-3{margin-top:341px;}
.section{min-width:768px;width:768px;}
.pos-4{margin-left:180px;}
.size-3{min-width:409px;width:409px;min-height:51px;}
.font{font-size:22.50pt;line-height:33.34pt;}
.pos-5{margin-top:-613px;}
.pos-6{margin-left:262px;}
.size-4{min-width:239px;width:239px;min-height:255px;}
.pos-7{margin-left:0;margin-top:153px;}
.size-5{min-width:239px;width:239px;min-height:51px;}
.font-2{font-size:22.50pt;line-height:33.34pt;}
.pos-8{margin-left:0;margin-top:-153px;}
.size-6{min-width:239px;width:239px;min-height:51px;}
.pos-9{margin-top:-204px;}
.size-7{min-width:239px;width:239px;min-height:255px;}
.pos-10{margin-left:2px;margin-top:0;}
.size-8{min-width:237px;width:237px;min-height:51px;}
.pos-11{margin-left:0;margin-top:51px;}
.size-9{min-width:239px;width:239px;min-height:51px;}
.pos-12{margin-left:2px;margin-top:51px;}
.size-10{min-width:237px;width:237px;min-height:51px;}
.pos-13{margin-top:110px;}
.size-11{min-width:768px;width:768px;min-height:311px;}
.size-12{min-width:768px;width:768px;min-height:267px;}
.size-13{min-width:768px;width:768px;min-height:101px;}
.para-2{margin-top:-9.11pt;margin-bottom:9.11pt;}
.font-3{font-size:67.50pt;line-height:72.85pt;}
.pos-15{margin-top:-38px;}
.size-14{min-width:768px;width:768px;min-height:204px;}
.para-3{margin-top:-18.11pt;margin-bottom:18.11pt;}
.font-4{font-size:134.25pt;line-height:144.88pt;}
.pos-16{margin-left:576px;margin-top:5px;}
.size-15{min-width:180px;width:180px;min-height:39px;}
.size-16{min-width:39px;width:39px;min-height:39px;height:39px;}
.anchor{width:39px;}
.img{width:39px;height:39px;}
.pos-17{margin-left:32px;}
.size-17{min-width:38px;width:38px;min-height:39px;height:39px;}
.anchor-2{width:38px;}
.img-2{width:38px;height:38px;top:1px;}
.pos-18{margin-left:32px;}
.pos-19{margin-top:-44px;}
.size-18{min-width:287px;width:287px;min-height:60px;}
.font-5{font-size:28.50pt;line-height:28.50pt;}
.font-6{font-size:28.50pt;line-height:35.82pt;}
.font-7{font-size:28.50pt;line-height:42.24pt;}
.pos-20{margin-top:-16px;}
.size-19{min-width:768px;width:768px;min-height:32px;}
.para-4{margin-top:3.33pt;margin-bottom:-3.33pt;}
.font-8{font-size:11.25pt;line-height:23.34pt;}
}
@media (min-width:480px) and (max-width:767px) {
.size{min-width:480px;min-height:216px;height:216px;}
.pos-2{margin-top:-216px;}
.size-2{min-width:480px;min-height:216px;}
.pos-3{margin-top:78px;}
.section{min-width:480px;width:480px;}
.pos-4{margin-left:4px;}
.size-3{min-width:471px;width:471px;min-height:60px;}
.font{font-size:15.00pt;color:rgb(165,165,165);line-height:22.23pt;}
.pos-5{margin-top:-201px;}
.pos-6{margin-left:29px;}
.size-4{min-width:423px;width:423px;min-height:63px;}
.pos-7{margin-left:200px;margin-top:29px;}
.size-5{min-width:165px;width:165px;min-height:34px;}
.font-2{font-size:15.00pt;line-height:22.23pt;}
.pos-8{margin-left:75px;margin-top:-48px;}
.size-6{min-width:85px;width:85px;min-height:31px;}
.pos-9{margin-top:-63px;}
.size-7{min-width:423px;width:423px;min-height:45px;}
.pos-10{margin-top:3px;}
.size-8{min-width:85px;width:85px;min-height:30px;}
.pos-11{margin-top:0;}
.size-9{min-width:163px;width:163px;min-height:30px;}
.pos-12{margin-left:22px;margin-top:13px;}
.size-10{min-width:120px;width:120px;min-height:32px;}
.pos-13{margin-top:30px;}
.size-11{min-width:480px;width:480px;min-height:166px;}
.size-12{min-width:480px;width:480px;min-height:166px;}
.size-13{min-width:480px;width:480px;min-height:66px;}
.para-2{margin-top:-4.05pt;margin-bottom:4.05pt;}
.font-3{font-size:30.00pt;line-height:32.38pt;}
.pos-15{margin-top:-33px;}
.size-14{min-width:480px;width:480px;min-height:133px;}
.para-3{margin-top:-9.11pt;margin-bottom:9.11pt;}
.font-4{font-size:67.50pt;line-height:72.85pt;}
.pos-16{margin-left:332px;margin-top:-53px;}
.size-15{min-width:133px;width:133px;min-height:30px;}
.size-16{min-width:30px;width:30px;min-height:30px;height:30px;}
.anchor{width:30px;}
.img{width:30px;height:30px;}
.pos-17{margin-left:22px;}
.size-17{min-width:30px;width:30px;min-height:30px;height:30px;}
.anchor-2{width:30px;}
.img-2{width:30px;height:30px;}
.pos-18{margin-left:21px;}
.pos-19{margin-top:-53px;}
.size-18{min-width:160px;width:160px;min-height:35px;}
.font-5{font-size:15.00pt;line-height:15.00pt;}
.font-6{font-size:15.00pt;line-height:18.85pt;}
.font-7{font-size:15.00pt;line-height:22.23pt;}
.pos-20{margin-top:-23px;}
.size-19{min-width:480px;width:480px;min-height:23px;}
.para-4{margin-top:2.22pt;margin-bottom:-2.22pt;}
.font-8{font-size:7.50pt;line-height:15.56pt;}
}
@media (max-width:479px) {
.size{min-width:320px;min-height:370px;height:370px;}
.pos-2{margin-top:-370px;}
.size-2{min-width:320px;min-height:370px;}
.pos-3{margin-top:211px;}
.section{min-width:320px;width:320px;}
.pos-4{margin-left:3px;}
.size-3{min-width:314px;width:314px;min-height:40px;}
.font{font-size:19.50pt;color:rgb(165,165,165);line-height:28.90pt;}
.pos-5{margin-top:-370px;}
.pos-6{margin-left:3px;}
.size-4{min-width:314px;width:314px;min-height:200px;}
.pos-7{margin-left:79px;margin-top:120px;}
.size-5{min-width:158px;width:158px;min-height:40px;}
.font-2{font-size:19.50pt;line-height:28.90pt;}
.pos-8{margin-left:79px;margin-top:-120px;}
.size-6{min-width:158px;width:158px;min-height:40px;}
.pos-9{margin-top:-160px;}
.size-7{min-width:314px;width:314px;min-height:200px;}
.pos-10{margin-left:79px;margin-top:0;}
.size-8{min-width:158px;width:158px;min-height:40px;}
.pos-11{margin-left:79px;margin-top:40px;}
.size-9{min-width:158px;width:158px;min-height:40px;}
.pos-12{margin-left:0;margin-top:40px;}
.size-10{min-width:314px;width:314px;min-height:40px;}
.pos-13{margin-top:69px;}
.size-11{min-width:320px;width:320px;min-height:187px;}
.size-12{min-width:320px;width:320px;min-height:116px;}
.size-13{min-width:320px;width:320px;min-height:44px;}
.para-2{margin-top:-3.74pt;margin-bottom:3.74pt;}
.font-3{font-size:27.75pt;line-height:29.95pt;}
.pos-15{margin-top:-17px;}
.size-14{min-width:320px;width:320px;min-height:89px;}
.para-3{margin-top:-7.59pt;margin-bottom:7.59pt;}
.font-4{font-size:56.25pt;line-height:60.71pt;}
.pos-16{margin-left:83px;margin-top:31px;}
.size-15{min-width:154px;width:154px;min-height:40px;}
.size-16{min-width:40px;width:40px;min-height:40px;height:40px;}
.anchor{width:40px;}
.img{width:40px;height:40px;}
.pos-17{margin-left:17px;}
.size-17{min-width:40px;width:40px;min-height:40px;height:40px;}
.anchor-2{width:40px;}
.img-2{width:40px;height:40px;}
.pos-18{margin-left:17px;}
.pos-19{margin-left:3px;margin-top:-87px;}
.size-18{min-width:314px;width:314px;min-height:41px;}
.font-5{font-size:21.00pt;line-height:21.00pt;}
.font-6{font-size:21.00pt;line-height:26.39pt;}
.font-7{font-size:21.00pt;line-height:31.12pt;}
.pos-20{margin-top:0;}
.size-19{min-width:320px;width:320px;min-height:24px;}
.para-4{margin-top:2.22pt;margin-bottom:-2.22pt;}
.font-8{font-size:7.50pt;line-height:15.56pt;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-640-1.jpg);background-size:cover;}
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
.cont{background-image:url(../images/untitled-960-5.jpg);background-size:cover;}
}
@media (min-width:480px) {
.cont{background-image:url(../images/untitled-480-3.jpg);background-size:cover;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:2),(min-width:480px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-960-8.jpg);background-size:cover;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:3),(min-width:480px) and (min-resolution:288dpi) {
.cont{background-image:url(../images/untitled-1440-3.jpg);background-size:cover;}
}
@media (min-width:768px) {
.cont{background-image:url(../images/untitled-768-3.jpg);background-size:cover;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2),(min-width:768px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-1536-3.jpg);background-size:cover;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:3),(min-width:768px) and (min-resolution:288dpi) {
.cont{background-image:url(../images/untitled-2304-3.jpg);background-size:cover;}
}
@media (min-width:960px) {
.cont{background-image:url(../images/untitled-960-9.jpg);background-size:cover;}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-1920-3.jpg);background-size:cover;}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:3),(min-width:960px) and (min-resolution:288dpi) {
.cont{background-image:url(../images/untitled-2880-3.jpg);background-size:cover;}
}
@media (min-width:1200px) {
.cont{background-image:url(../images/untitled-1200-30.jpg);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-2400-30.jpg);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:3),(min-width:1200px) and (min-resolution:288dpi) {
.cont{background-image:url(../images/untitled-3600-29.jpg);background-size:cover;}
}
@media (min-width:1600px) {
.cont{background-image:url(../images/untitled-1600-30.jpg);background-size:cover;}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-3200-30.jpg);background-size:cover;}
}
