html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body{font-size:0;}
div{font-size:0;}
p{margin:0;word-spacing:normal;}
h1{margin:0;word-spacing:normal;}
h2{margin:0;word-spacing:normal;}
h3{margin:0;word-spacing:normal;}
h4{margin:0;word-spacing:normal;}
h5{margin:0;word-spacing:normal;}
h6{margin:0;word-spacing:normal;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
form{display:inline-block;}
input{box-sizing:border-box;padding:0px;}
textarea{box-sizing:border-box;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
#body{background-color:rgb(64,64,64);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:960px;min-height:1280px;height:1280px;}
.cont{z-index:1;border:0;background:transparent url(../images/untitled-320-2.jpg) no-repeat 50% 50%;background-size:cover;background-attachment:fixed;background-clip:padding-box;}
html.nofixed .fixed{background-attachment:scroll;}
.pos-2{position:relative;margin-top:-1280px;}
.size-2{width:100%;min-width:960px;min-height:1280px;}
.cont-2{z-index:2;border:0;background-color:rgba(0,0,0,0.5);}
.pos-3{position:relative;margin-top:11px;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;display:block;}
.pos-4{position:relative;margin-left:0;margin-top:0;}
.size-3{min-width:960px;width:960px;min-height:337px;}
.cont-3{z-index:3;}
.size-4{min-width:960px;width:960px;min-height:126px;}
.cont-4{z-index:5;}
.para{padding-top:0;text-indent:0;margin-top:-11.33pt;margin-bottom:11.33pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font{font-family:"Abril Fatface";font-size:84.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(221,36,36);line-height:90.65pt;letter-spacing:normal;}
.pos-5{position:relative;margin-left:0;margin-top:-43px;}
.size-5{min-width:960px;width:960px;min-height:254px;}
.cont-6{z-index:4;}
.para-2{padding-top:0;text-indent:0;margin-top:-22.66pt;margin-bottom:22.66pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-2{font-family:"Abril Fatface";font-size:168.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(221,36,36);line-height:181.31pt;letter-spacing:normal;}
.pos-6{position:relative;margin-left:240px;margin-top:-35px;}
.size-6{min-width:481px;width:481px;min-height:521px;}
.cont-7{z-index:6;}
.pos-7{position:relative;margin-left:0;margin-top:0;}
.size-7{min-width:480px;width:480px;min-height:90px;}
.para-3{padding-top:0;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;}
.font-3{font-family:Oswald;font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:66.69pt;letter-spacing:normal;}
.pos-8{position:relative;margin-left:0;margin-top:54px;}
.pos-9{position:relative;margin-left:0;margin-top:54px;}
.pos-10{position:relative;margin-left:1px;margin-top:53px;}
.pos-11{position:relative;margin-left:120px;margin-top:142px;}
.size-8{min-width:720px;width:720px;min-height:90px;}
.cont-8{z-index:11;}
.font-4{font-family:Oswald;font-size:45.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(165,165,165);line-height:66.69pt;letter-spacing:normal;}
.pos-12{position:relative;margin-top:-10px;}
.size-9{width:100%;min-width:960px;min-height:123px;}
.cont-9{z-index:12;}
.size-10{width:100%;min-width:960px;min-height:123px;height:123px;}
.cont-10{z-index:13;border:0;background-color:rgb(204,36,36);}
.pos-13{position:relative;margin-top:-123px;}
.pos-14{position:relative;margin-left:282px;margin-top:0;}
.size-11{min-width:395px;width:395px;min-height:84px;}
.cont-11{z-index:15;}
.pos-15{position:relative;margin-left:0;margin-top:5px;}
.size-12{min-width:311px;width:311px;min-height:74px;}
.cont-12{z-index:17;}
.para-4{padding-top:0;text-indent:0;padding-right:0;text-align:left;word-wrap:break-word;}
.font-5{font-family:Oswald;font-size:36.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:53.35pt;letter-spacing:normal;}
.pos-16{position:relative;margin-left:24px;margin-top:0;}
.size-13{min-width:60px;width:60px;min-height:84px;height:84px;}
.cont-13{z-index:16;}
.anchor{display:block;width:60px;}
.img{position:absolute;left:0;width:60px;height:60px;top:12px;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-17{position:relative;margin-left:240px;margin-top:-10px;}
.size-14{min-width:479px;width:479px;min-height:45px;}
.cont-14{z-index:14;}
.para-5{padding-top:0;text-indent:0;margin-top:3.11pt;margin-bottom:-3.11pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-6{font-family:Oswald;font-size:10.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:21.78pt;letter-spacing:normal;}
@media (min-width:768px) and (max-width:959px) {
.size{min-width:768px;min-height:1024px;height:1024px;}
html.nofixed .fixed{background-attachment:scroll;}
.pos-2{margin-top:-1024px;}
.size-2{min-width:768px;min-height:1024px;}
.pos-3{margin-top:8px;}
.section{min-width:768px;width:768px;}
.size-3{min-width:768px;width:768px;min-height:270px;}
.size-4{min-width:768px;width:768px;min-height:100px;}
.para{margin-top:-9.11pt;margin-bottom:9.11pt;}
.font{font-size:67.50pt;line-height:72.85pt;}
.pos-5{margin-top:-33px;}
.size-5{min-width:768px;width:768px;min-height:203px;}
.para-2{margin-top:-18.11pt;margin-bottom:18.11pt;}
.font-2{font-size:134.25pt;line-height:144.88pt;}
.pos-6{margin-left:192px;margin-top:-28px;}
.size-6{min-width:384px;width:384px;min-height:417px;}
.size-7{min-width:384px;width:384px;min-height:72px;}
.font-3{font-size:36.00pt;line-height:53.35pt;}
.pos-8{margin-top:43px;}
.pos-9{margin-top:43px;}
.pos-10{margin-left:0;margin-top:43px;}
.pos-11{margin-left:96px;margin-top:106px;}
.size-8{min-width:576px;width:576px;min-height:72px;}
.font-4{font-size:36.00pt;line-height:53.35pt;}
.pos-12{margin-top:-5px;}
.size-9{min-width:768px;min-height:101px;}
.size-10{min-width:768px;min-height:101px;height:101px;}
.pos-13{margin-top:-90px;}
.pos-14{margin-left:233px;}
.size-11{min-width:302px;width:302px;min-height:58px;}
.pos-15{margin-top:0;}
.size-12{min-width:302px;width:302px;min-height:58px;}
.font-5{font-size:28.50pt;line-height:42.24pt;}
.pos-16{margin-left:245px;margin-top:-53px;}
.size-13{min-width:48px;width:48px;min-height:48px;height:48px;}
.anchor{width:48px;}
.img{width:48px;height:48px;top:0;}
.pos-17{margin-left:192px;margin-top:7px;}
.size-14{min-width:383px;width:383px;min-height:25px;}
.para-5{margin-top:2.22pt;margin-bottom:-2.22pt;}
.font-6{font-size:7.50pt;line-height:15.56pt;}
}
@media (max-width:767px) {
.size{min-width:320px;min-height:540px;height:540px;}
html.nofixed .fixed{background-attachment:scroll;}
.pos-2{margin-top:-540px;}
.size-2{min-width:320px;min-height:540px;}
.pos-3{margin-top:6px;}
.section{min-width:320px;width:320px;}
.size-3{min-width:320px;width:320px;min-height:114px;}
.size-4{min-width:320px;width:320px;min-height:42px;}
.para{margin-top:-3.84pt;margin-bottom:3.84pt;}
.font{font-size:28.50pt;line-height:30.76pt;}
.pos-5{margin-top:-13px;}
.size-5{min-width:320px;width:320px;min-height:85px;}
.para-2{margin-top:-7.89pt;margin-bottom:7.89pt;}
.font-2{font-size:58.50pt;line-height:63.13pt;}
.pos-6{margin-left:1px;margin-top:-8px;}
.size-6{min-width:316px;width:316px;min-height:240px;}
.pos-7{margin-left:3px;}
.size-7{min-width:312px;width:312px;min-height:60px;}
.font-3{font-size:27.00pt;line-height:40.01pt;}
.pos-8{margin-left:3px;margin-top:0;}
.pos-9{margin-top:0;}
.pos-10{margin-left:4px;margin-top:0;}
.pos-11{margin-left:4px;margin-top:75px;}
.size-8{min-width:312px;width:312px;min-height:60px;}
.font-4{font-size:27.00pt;line-height:40.01pt;}
.size-9{min-width:320px;min-height:39px;}
.size-10{min-width:320px;min-height:39px;height:39px;}
.pos-13{margin-top:-39px;}
.pos-14{margin-left:60px;}
.size-11{min-width:195px;width:195px;min-height:39px;}
.pos-15{margin-top:0;}
.size-12{min-width:158px;width:158px;min-height:39px;}
.font-5{font-size:18.00pt;line-height:26.67pt;}
.pos-16{margin-left:7px;margin-top:5px;}
.size-13{min-width:30px;width:30px;min-height:30px;height:30px;}
.anchor{width:30px;}
.img{width:30px;height:30px;top:0;}
.vis-2{display:none;}
.pos-17{margin-left:3px;margin-top:20px;}
.size-14{min-width:314px;width:314px;min-height:19px;}
.para-5{margin-top:1.78pt;margin-bottom:-1.78pt;}
.font-6{font-size:6.00pt;line-height:12.45pt;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-640-2.jpg);background-size:cover;}
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
.cont{background-image:url(../images/untitled-960-10.jpg);background-size:cover;}
}
@media (min-width:480px) {
.cont{background-image:url(../images/untitled-480.jpg);background-size:cover;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:2),(min-width:480px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-960-1.jpg);background-size:cover;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:3),(min-width:480px) and (min-resolution:288dpi) {
.cont{background-image:url(../images/untitled-1440.jpg);background-size:cover;}
}
@media (min-width:768px) {
.cont{background-image:url(../images/untitled-768-4.jpg);background-size:cover;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2),(min-width:768px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-1536-4.jpg);background-size:cover;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:3),(min-width:768px) and (min-resolution:288dpi) {
.cont{background-image:url(../images/untitled-2304-4.jpg);background-size:cover;}
}
@media (min-width:960px) {
.cont{background-image:url(../images/untitled-960-11.jpg);background-size:cover;}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-1920-4.jpg);background-size:cover;}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:3),(min-width:960px) and (min-resolution:288dpi) {
.cont{background-image:url(../images/untitled-2880-4.jpg);background-size:cover;}
}
@media (min-width:1200px) {
.cont{background-image:url(../images/untitled-1200-5.jpg);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-2400-5.jpg);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:3),(min-width:1200px) and (min-resolution:288dpi) {
.cont{background-image:url(../images/untitled-3600-5.jpg);background-size:cover;}
}
@media (min-width:1600px) {
.cont{background-image:url(../images/untitled-1600-6.jpg);background-size:cover;}
}
@media (min-width:1600px) and (-webkit-min-device-pixel-ratio:2),(min-width:1600px) and (min-resolution:192dpi) {
.cont{background-image:url(../images/untitled-3200-6.jpg);background-size:cover;}
}
